

.profile-component {
    margin: 0 auto;
    display: flex;
    width: 80vw;
    flex-direction: column;
    padding: 25px;
}

.profile-component-left {
    display: flex;
    width: 450px;
    align-items: center;
    justify-content: center;
    padding: 10px;

    
}

.profile-component-right {
    display: flex;
    flex-direction: column;
    width: 450px;
    align-items: center;
    justify-content: center;
    padding: 10px;

    
}

.profile-form{
    margin: 0 auto;
    background-color: #19323c;
    justify-content: center;
    border-radius: 15px;
    padding: 30px;
    border-radius: 15px;
    border: 1px solid #FF5A36;;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
}
.profile-pic-input{
    width: 300px;
    border-radius: 50%;
    height: 280px;

}

.profile-img {
    border: none;
    height: 300px;
    border-radius: 50%;
    

}

.profile-form-photo {
    padding: 15px;
    border-radius: 50%;
}

.profile{
    margin: 0 auto;
    display: flex;
    width: 800px;
    flex-direction: row;
    padding: 25px;
    background-color: #19323c;
    justify-content: center;
    border-radius: 15px;
    border: 1px solid #FF5A36;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
    align-items: center;


}

.left-profile{
    width: 400px;
    height: 400px;
    padding: 10px;
}

.profile-pic {
    height: 300px;
    width: 350px;
    margin: 0 auto;
    border-radius: 50%;


}



.right-profile{
    width: 400px;
    height: 375px;
    padding: 10px;


}

.linkedin{
    font-family: "Abril Fatface", cursive;
    width: 350px;
    height: 35px;
    margin: 0 auto;
    background-color:#2c6a84;
    font-size: 15px;
    border: 1px solid #FF5A36;
    color: white;
    border-radius: 5px;
}

.portfolio{
    width: 350px;
    height: 35px;
    font-family: "Abril Fatface", cursive;
    background-color: #2c6a83;
    font-size: 15px;
    border: 1px solid #FF5A36;;
    color: white;
    border-radius: 5px;
    margin: 0 auto;
}

.github{
    width: 350px;
    height: 35px;
    font-family: "Abril Fatface", cursive;
    background-color: #2c6a83;
    font-size: 15px;
    border: 1px solid #FF5A36;;
    color: white;
    border-radius: 5px;
    margin: 0 auto;
}

.quote{
    width: 350px;
    height: 200px;
    font-family: "Abril Fatface", cursive;
    background-color: #2c6a83;
    font-size: 15px;
    border: 1px solid#FF5A36;;
    color: white;
    border-radius: 5px;
    margin: 0 auto;
}


.profile-buttons{
    display: flex;
    justify-content: center;
    width: 30vw;
    align-items: center;
    margin: 0 auto;

}

::placeholder {
    color:#19323c;
    font-size: 15px;
    text-align: center;

}

.profile-linkedin::placeholder {
    color: white;
    font-family: "Abril Fatface", cursive;
}

.profile-portfolio::placeholder {
    color: white;
    font-family: "Abril Fatface", cursive;
}

.profile-github::placeholder {
    color: white;
    font-family: "Abril Fatface", cursive;
}

.profile-quote::placeholder {
    color: white;
    font-family: "Abril Fatface", cursive;
}



.profile-linkedin {
        background-color: #2c6a83;
        width: 300px;
        height: 30px;
        font-size: 15px;
        color: white;
        border-radius: 5px;
        border: 1px solid #FF5A36;
}

.profile-portfolio {
    background-color: #2c6a83;
    width: 300px;
    height: 30px;
    font-size: 15px;
    color: white;
    border-radius: 5px;
    border: 1px solid #FF5A36;
}

.profile-github{
    background-color: #2c6a83;
    width: 300px;
    height: 30px;
    font-size: 15px;
    color: white;
    border-radius: 5px;
    border: 1px solid #FF5A36;
}

.profile-quote {
    background-color: #2c6a83;
    width:300px;
    height: 70px;
    font-size: 15px;
    color: white;
    border-radius: 5px;
    border: 1px solid #FF5A36;
}

.edit-button{
    background-color: #FF5A36;
    color: white;
    width: 120px;
    height: 25px;
    border-radius: 5px;
    cursor: pointer;
}

.edit-button:hover{
    transform: scale(1.5)
}

.save-button:hover {
    transform: scale(1.1)
}

.cancel-button:hover {
    transform: scale(1.1)
}

.save-button{
    background-color: #FF5A36;
    color: white;
    width: 120px;
    height: 25px;
    border-radius: 5px;
    cursor: progress;
 
}

.cancel-button {
    background-color: #FF5A36;
    color: white;
    width: 120px;
    height: 25px;
    border-radius: 5px;
    cursor: not-allowed;
}


.profile-name {
    color: white;
    font-size: 30px;
    padding-bottom: 15px;;
}

.buttons {
    padding: 10px;
    
}

@media screen and (max-width: 576px) {
    .profile {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 400px;
    }
  }