/* .entireAuthPage {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("/src/jakob-owens-_SXxTHUkCwE-unsplash.jpg");
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 

} */

.entireAuthPage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20%;
}
@media screen and (max-width: 700px) {
  .entireAuthPage {
    flex-direction: column;
  }
}
.aboutBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1em;
  font-family: "Abril Fatface", cursive;
  height: 300px;
  width: 350px;
  position: relative;
  background: rgb(204, 204, 204, 0.5);
  background: rgb(0, 50, 73, 0.5);
  font-weight: bold;
  border-radius: 2%;
}
.aboutBoxItems {
  height: 275px;
  width: 325px;
  position: relative;
  color: #ebebeb;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.loginBox {
  height: 300px;
  width: 350px;
  display: flex;
  flex-direction: column;
  background-color: #827081;
  font-family: "Abril Fatface", cursive;
  /* margin-right: -50%; */
  /* transform: translate(-50%, -50%); */
  border-radius: 2%;
}
.loginBox h1 {
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin: 0;
  color: #ebebeb;
  color: #34a8eb;
  color: #003249;
  border-radius: 2%;
}

.loginItems {
  display: flex;
  flex-direction: column;

  margin-right: 10px;
}

.userName {
  color: #19323c;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.userName input {
  height: 20px;
  width: 200px;
}
.userName h3 {
  margin-right: 20px;
}
.passWord {
  color: #19323c;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.passWord input {
  height: 20px;
  width: 200px;
}
.passWord h3 {
  margin-right: 25px;
}
.loginItems button {
  color: #ebebeb;
  background-color: #003249;
  height: 25px;
  width: 100px;
  margin: auto;
  margin-top: 30px;
  justify-content: center;
  font-family: "Alegreya", serif;
  border-radius: 2%;
}
.footer {
  margin: auto;
  position: fixed;
  bottom: 10px;
  display: flex;
  justify-content: center;
  left: 50%;
  top: 98%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-family: "Abril Fatface", cursive;
  /* width: 50%; */
}
