/* .entireAuthPage {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("/src/jakob-owens-_SXxTHUkCwE-unsplash.jpg");
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 

} */

.entireAuthPage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20%;
}
@media screen and (max-width: 576px) {
  .entireAuthPage {
    margin: 0 auto;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("/src/jakob-owens-_SXxTHUkCwE-unsplash.jpg");
    background-image: url("/src/liljonnormal.jpg");
    background-image: url("/src/liljoncolorful.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.loginPortion {
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 576px) {
  .loginPortion {
    flex-direction: column;
  }
}
.aboutBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1em;
  font-family: "Abril Fatface", cursive;
  height: 300px;
  width: 350px;
  position: relative;
  background: rgb(204, 204, 204, 0.5);
  background: rgb(0, 50, 73, 0.5);
  font-weight: bold;
  border-radius: 2%;
}
@media screen and (max-width: 576px) {
  .aboutBox {
    height: 200px;
  }
}
.aboutBoxItems {
  height: 275px;
  width: 325px;
  position: relative;
  color: #ebebeb;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.loginBox {
  height: 300px;
  width: 350px;
  display: flex;
  flex-direction: column;
  background-color: #827081;
  font-family: "Abril Fatface", cursive;
  border-radius: 2%;
}
.footer {
  margin: auto;
  position: fixed;
  bottom: 10px;
  display: flex;
  justify-content: center;
  left: 50%;
  top: 98%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-family: "Abril Fatface", cursive;
}

@media screen and (max-width: 576px) {
  .footer {
    display: none;
  }
}

.footermobile {
  margin: auto;
  position: fixed;
  bottom: 10px;
  display: flex;
  justify-content: center;
  left: 50%;
  top: 98%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-family: "Abril Fatface", cursive;
  color: #34a8eb;
}

@media screen and (min-width: 576px) {
  .footermobile {
    display: none;
  }
}

.loginBox {
  margin: 0;
  padding: 0;
  height: 300px;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: #003249;
  background-color: #827081;
  font-family: "Abril Fatface", cursive;
  border-radius: 2%;
}
@media screen and (max-width: 576px) {
  .loginBox {
    height: 200px;
    justify-content: center;
  }
}
@media screen and (max-width: 576px) {
  .loginBox button {
    color: #ebebeb;
    background-color: #003249;
    height: 25px;
    width: 120px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2%;
    font-family: "Abril Fatface", cursive;
  }
}
.logintitleContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}
@media screen and (max-width: 576px) {
  .loginBox h1 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
}
.registerItems .needanAccount {
  display: flex;
  font-size: 15px;
  height: 25px;
  width: 150px;
  color: #ebebeb;
  background-color: #ff5a36;
  font-family: "Abril Fatface", cursive;
}

/* Register css */
.registerBox {
  margin: 0;
  padding: 0;
  margin-top: -25px;
  height: 400px;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #827081;
  font-family: "Abril Fatface", cursive;
  border-radius: 2%;
}
@media screen and (max-width: 576px) {
  .registerBox {
    margin-top: 0;
  }
}

@media screen and (max-width: 576px) {
  .registerItems .needanAccount {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    height: 25px;
    width: 150px;
    margin-top: 10px;
    color: #ebebeb;
    background-color: #ff5a36;
    font-family: "Abril Fatface", cursive;
  }
}

.registerBox h1 {
  color: #003249;
}

.registerItems {
  display: flex;
  flex-direction: column;

  margin-right: 10px;
}

.boxContainer {
  display: flex;
  justify-content: space-around;
  align-items: inherit;
}
.titleContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-bottom: 5px;
}
.titleContainer h3 {
  color: #003249;
}
.inputContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
}
.inputContainer input {
  height: 20px;
  width: 200px;
}
/* 
.registerItems button {
  color: #ebebeb;
  background-color: #003249;
  height: 25px;
  width: 120px;
  margin: auto;
  margin-top: 30px;
  justify-content: center;
  border-radius: 2%;
  font-family: "Abril Fatface", cursive;
} */
/* @media screen and (max-width: 576px) {
  .registerItems button {
    color: #ebebeb;
    background-color: #003249;
    height: 25px;
    width: 120px;
    margin: auto;
    margin-top: 15px;
    justify-content: center;
    border-radius: 2%;
    font-family: "Abril Fatface", cursive;
  }
} */

.registerItems .newAcctBtn {
  display: flex;
  margin-top: 50px;
  font-size: 15px;
  height: 25px;
  width: 150px;
  color: #ebebeb;
  background-color: #ff5a36;
  font-family: "Abril Fatface", cursive;
}
@media screen and (max-width: 576px) {
  video {
    display: none;
  }
}
.animated-button {
  height: 25%;
  width: 50%;
  margin: auto;
  margin-top: 15px;
  background: linear-gradient(-30deg, #0b1b3d 50%, #08142b 50%);
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-transform: translate(0%, 0%);
  transform: translate(0%, 0%);
  overflow: hidden;
  color: #ebebeb;
  font-size: 15px;
  letter-spacing: 2.5px;
  text-align: center;
  /* text-transform: uppercase; */
  font-family: "Abril Fatface", cursive;
  /* text-decoration: none; */
  -webkit-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
}

.animated-button::before {
  display: flex;
  top: 0px;
  left: 0px;
  width: 50%;
  height: 50%;
  background-color: #8592ad;
  opacity: 0;
  -webkit-transition: 0.2s opacity ease-in-out;
  transition: 0.2s opacity ease-in-out;
}

.animated-button:hover::before {
  opacity: 0.2;
}

.animated-button span {
  position: absolute;
}

.animated-button span:nth-child(1) {
  top: 0px;
  left: 0px;
  width: 50%;
  height: 4px;
  background: -webkit-gradient(linear, right top, left top, from(orange)),
    to(#ebebeb);
  background: linear-gradient(to left, #ebebeb, #Ff5a36);
  -webkit-animation: 2s animateTop linear infinite;
  animation: 2s animateTop linear infinite;
}

@-webkit-keyframes animateTop {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

@keyframes animateTop {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

.animated-button span:nth-child(2) {
  top: 0px;
  right: 0px;
  height: 50%;
  width: 4px;
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(rgba(8, 20, 43, 0)),
    to(#ebebeb)
  );
  background: linear-gradient(to top, rgba(8, 20, 43, 0), #ebebeb);
  -webkit-animation: 2s animateRight linear -1s infinite;
  animation: 2s animateRight linear -1s infinite;
}

@-webkit-keyframes animateRight {
  0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}

@keyframes animateRight {
  0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}

.animated-button span:nth-child(3) {
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 4px;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(rgba(8, 20, 43, 0)),
    to(#ebebeb)
  );
  background: linear-gradient(to right,  #Ff5a36, #ebebeb);
  -webkit-animation: 2s animateBottom linear infinite;
  animation: 2s animateBottom linear infinite;
}

@-webkit-keyframes animateBottom {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}

@keyframes animateBottom {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}

.animated-button span:nth-child(4) {
  top: 0px;
  left: 0px;
  height: 100%;
  width: 4px;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(8, 20, 43, 0)),
    to(#ebebeb)
  );
  background: linear-gradient(to bottom, rgba(8, 20, 43, 0), #Ff5a36);
  -webkit-animation: 2s animateLeft linear -1s infinite;
  animation: 2s animateLeft linear -1s infinite;
}

@-webkit-keyframes animateLeft {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
}

@keyframes animateLeft {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
}






.animated-button2 {
  height: 25%;
  width: 50%;
  margin: auto;
  margin-top: 15px;
  background: linear-gradient(-30deg, #Ff5a36 50%, #Ff5a36 50%);
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-transform: translate(0%, 0%);
  transform: translate(0%, 0%);
  overflow: hidden;
  color: #ebebeb;
  font-size: auto;
  letter-spacing: 2.5px;
  text-align: center;
  /* text-transform: uppercase; */
  font-family: "Abril Fatface", cursive;
  /* text-decoration: none; */
  -webkit-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
}

.animated-button2::before {
  display: flex;
  top: 0px;
  left: 0px;
  width: 50%;
  height: 50%;
  background-color: #8592ad;
  opacity: 0;
  -webkit-transition: 0.2s opacity ease-in-out;
  transition: 0.2s opacity ease-in-out;
}

.animated-button2:hover::before {
  opacity: 0.2;
}

.animated-button2 span {
  position: absolute;
}

.animated-button2 span:nth-child(1) {
  top: 0px;
  left: 0px;
  width: 50%;
  height: 4px;
  background: -webkit-gradient(linear, right top, left top, from(orange)),
    to(#ebebeb);
  background: linear-gradient(to left, #34a8eb, #ebebeb);
  -webkit-animation: 2s animateTop linear infinite;
  animation: 2s animateTop linear infinite;
}

@-webkit-keyframes animateTop {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

@keyframes animateTop {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

.animated-button2 span:nth-child(2) {
  top: 0px;
  right: 0px;
  height: 50%;
  width: 4px;
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(rgba(8, 20, 43, 0)),
    to(#ebebeb)
  );
  background: linear-gradient(to top, rgba(8, 20, 43, 0), #34a8eb);
  -webkit-animation: 2s animateRight linear -1s infinite;
  animation: 2s animateRight linear -1s infinite;
}

@-webkit-keyframes animateRight {
  0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}

@keyframes animateRight {
  0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}

.animated-button2 span:nth-child(3) {
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 4px;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(rgba(8, 20, 43, 0)),
    to(#ebebeb)
  );
  background: linear-gradient(to right, rgba(8, 20, 43, 0), #34a8eb);
  -webkit-animation: 2s animateBottom linear infinite;
  animation: 2s animateBottom linear infinite;
}

@-webkit-keyframes animateBottom {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}

@keyframes animateBottom {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}

.animated-button2 span:nth-child(4) {
  top: 0px;
  left: 0px;
  height: 100%;
  width: 4px;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(8, 20, 43, 0)),
    to(#ebebeb)
  );
  background: linear-gradient(to bottom, rgba(8, 20, 43, 0), #ebebeb);
  -webkit-animation: 2s animateLeft linear -1s infinite;
  animation: 2s animateLeft linear -1s infinite;
}

@-webkit-keyframes animateLeft {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
}

@keyframes animateLeft {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
}
